.well
  = form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f|
    .row
      .col-md-3
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Buscar por nombre, apellido o mail.' }
          %label Buscar
          = f.text_field :search_query,
                         :class => 'filterrific-periodically-observed form-control'
      .col-md-3
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filtrar por perfil.' }
          %label Perfil
          = f.select :with_perfil,
                     @filterrific.select_options[:with_perfil],
                     { :include_blank => '- Any -' },
                     { :class => 'form-control' }
      .col-md-4
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Cambiar orden.' }
          %label Sorted by
          = f.select :sorted_by,
                     @filterrific.select_options[:sorted_by],
                     {},
                     { :class => 'form-control' }
    = f.submit 'Filtrar'

#results
  = render :partial => 'candidates/list',
           :locals => { :candidates => @candidates }

:javascript
  $('.js-datepicker').datepicker();
  $('#overlayTrigger').click(function(event) {
    event.preventDefault();
    $('body').chardinJs('start');
  });



